<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125185288-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125185288-1');
  </script>

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon Start -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- Favicon End -->

  <!-- Author Meta -->
  <meta name="author" content="Debasis Sarangi">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="3G0P4LC6eal0lpmuU9PPRQXEsajpUnaapSigK45PGtA" />
  <!-- Site Title -->
  <title>AiChimps - AI and Voice NLP Solutions for Businesses</title>
  <!-- Meta Description -->
  <meta name="description" content="Solutions in AI, Voice Natural Language Processing and Programming Voice Calls. Helping Businesses to improve Customer Experience.">

  <link rel="canonical" href="https://aichimps.com/" />
 <meta property="og:locale" content="en_US" />
 <meta property="og:type" content="website" />
 <meta property="og:title" content="AiChimps" />
 <meta property="og:description" content="Voice based NLP Solutions for Businesses" />
 <meta property="og:url" content="http://aichimps.com/" />
 <meta property="og:site_name" content="AICHIMPS.com" />
 <meta property="og:image" content="http://aichimps.com/static/img/logo.png">
 <meta name="twitter:card" content="summary_large_image" />
 <meta name="twitter:description" content="Voice based NLP Solutions for Businesses" />
 <meta name="twitter:title" content="AiChimps" />

  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  -->
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/static/css/poppins.css">
    <link rel="stylesheet" href="/static/css/linearicons.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/alertify.css">

    <!-- Scripts -->
    <script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/jquery.DonutWidget.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/alertify.min.js"></script>
    <script src="/static/js/scrollUp.min.js"></script>
    <script src="/static/js/loader.js"></script>

  </head>
  <body>
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-moon"></i></span>
    </div>
    <!-- Start Header Area -->
    <header class="default-header">
      <nav class="navbar navbar-expand-lg  navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="">
              <img src="static/img/logo1.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
              <ul class="navbar-nav">
              <li><a href="#home">Home</a></li>
              <li><a href="#apps">Products & Services</a></li>
              <li><a href="#contactus">Contact Us</a></li>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <!-- End Header Area -->

    <!-- start banner Area -->
    <section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="static/img/header-bg.jpg">
      <div class="overlay-bg overlay"></div>
      <div class="container">
        <div class="row fullscreen  d-flex align-items-center justify-content-end">
          <div class="banner-content col-lg-8 col-md-12">
            <h1 class="desc wow fadeInUp" data-wow-delay="0.4s">
              Future is <span>AI</span> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Embrace it! <br>
              <span>AiChimps</span> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              R&D in <span>AI</span>
            </h1>
            <!-- <a href="#" class="primary-btn2 header-btn text-uppercase">Hire Us Now!</a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- App Features-Area -->
    <section class="progress-area" id="apps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="page-title section-padding">
                        <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Voice Based Virtual Customer</h5>
                        <div class="space-10"></div>
                        <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Case Study: Learning Sales</h3>
                        <div class="space-20"></div>
                        <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                          <p>Learning Sales, an AI assisted Interactive learning App. It acts as a Virtual Customer that one can interact with, practice Sales training, evaluate self and it is indeed a fun and engrossing way to learn.</p>
                          <p>Enterprises can train their sales team with curated modules, inline with in-house learning programs. The performance of the team can be monitored, guided and evaluated for best results.</p>
                        </div>
                        <div class="space-50"></div>
                        <!--
                        <a href="#apps" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
                      -->
                    </div>
                </div>
                <div class="learnsalesimage col-xs-12 col-md-6">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.4s">
                        <img id="learnsaleschatimage" src="static/img/progress-phone.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- App Features-Area -->

    <!-- Call Feedback-Area -->
    <section class="progress-area gray-bg" id="callapps">
        <div class="container">
            <div class="row">
                <div class="callfeedbackbgimage col-xs-12 col-md-6"></div>
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-5">
                    <div class="page-title section-padding">
                        <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Programming Voice Calls</h5>
                        <div class="space-10"></div>
                        <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Case Study: Outbound Customer Feedback Calls</h3>
                        <div class="space-20"></div>
                        <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                            <p>The traditional methods to get feedback from customer on the products
                              and services delivered are known to be ineffective, and we all know
                              how vital is getting feedbacks for a business.<br></p>
                              Here comes AI backed Progammable Voice Calls, using NLP, calls can be made
                              to your customers to get their feedback on products and services availed.<br><br>
                              Send us a message if this interests you.
                        </div>
                        <div class="space-50"></div>
                        <!--
                        <a href="#apps" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
                      -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call Feedback-Area -->

    <!--================Get in Touch Area =================-->
    <section class="get_in_touch_area" id="contactus">
        <div class="container">
            <div class="row">
              <div class="col-lg-6 ">
                  <div class="l_title">
                      <img src="static/img/logo.png" alt="">
                      <div class="deba-gap">
                        <h6>If it excites you what we do,<br>
                          Send us an e-mail at </h6>
                          <h4>debasis.untouchable@gmail.com</h4>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                  <h5>About Us</h5><br>
                  <p>We are eager chimps, jumping down the exciting road of Machine
                    Learning. Sometimes we climb the Bayesian plant, plucking the ripe
                    scikit libraries, other times peep inside the filter layers and wonder
                    at Transposed Convolutions and Attention.<br><br>
                    We have a long way to train, gradient descent is shallow, metrics
                    surprises us and nans all along the way. <br><br>
                    But the future is bright, Singularity is not that far, Adversial
                    will take us through, RL will sail us through.
                  </p>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!--================End Get in Touch Area =================-->


    <!-- start footer Area -->
    <footer class="footer-area">
      <div class="container-fluid">
        <div class="row footer-bottom d-flex justify-content-between">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. <a href="http://aichimps.com" target="_blank">AIchimps</a></p>
          <br>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>

          </div>
          -->
        </div>
      </div>
    </footer>
    <!-- End footer Area -->
  </body>
</html>

